<button onclick="toggleLanguage()" id="language-toggle-btn" aria-label="Alternar idioma / Switch language">
    <span class="icon-pt" style="vertical-align:middle;">
        <img src="{{ '/assets/img/logos/brazil-flag.svg' | relative_url }}" alt="Português" width="24" height="24" aria-hidden="true">
    </span>
    <span class="icon-en" style="vertical-align:middle; display:none;">
        <img src="{{ '/assets/img/logos/uk-flag.svg' | relative_url }}" alt="English" width="24" height="24" aria-hidden="true">
    </span>
</button>
