<!-- Estatísticas de visitas -->
{% if site.components.busuanzi.enabled == true and page.visit-stat != 'hidden' and page.layout != 'mindmap' %}
<script async src="{{ assets_base_url }}/assets/vendor/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<div class="mobile-hidden" style="margin-top:8px">
  <span id="busuanzi_container_site_pv" style="display:none">
    Visitas: <span id="busuanzi_value_site_pv"></span>
  </span>
  <span id="busuanzi_container_site_uv" style="display:none">
    / Visitantes: <span id="busuanzi_value_site_uv"></span>
  </span>
  <span id="busuanzi_container_page_pv" style="display:none">
    / Esta página: <span id="busuanzi_value_page_pv"></span>
    {% if site.components.busuanzi.start_date %}
    / Contando desde {{ site.components.busuanzi.start_date }}
    {% endif %}
  </span>
</div>
{% endif %}
