@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="container">
    <div>
        <h2 class="name">MURILLO GOMES YONAMINE</h2>
    </div>

    <div>
        <p class="role">Game Programmer</p>
    </div>

    <div class="button-see-more-container">
        <button type="button" class="button-see-more">
            Wanna see more?
        </button>
    </div>

    <div class="logo-container">
        <a href="http://https://github.com/MurilloYonamine" target="_blank" rel="noopener noreferrer">
            <img src="assets/logos/github/github-mark-white.png" alt="Github" class="logo">
        </a>
        <a href="https://www.linkedin.com/in/murillo-yonamine/" target="_blank" rel="noopener noreferrer">
            <img src="assets/logos/linkedin/InBug-White.png" alt="Linkedin" class="logo">
        </a>
        <a href="https://murilloyonamine.itch.io/" target="_blank" rel="noopener noreferrer">
            <img src="assets/logos/itchio/itchio.svg" alt="Itch.io" class="logo">
        </a>
    </div>
</section>