---
layout: description
title: Blog
pagetype: blog
---
{% if paginator.total_posts == 0 %}
<p>No posts right now.</p>
{% else %}
<div class="blogPage-categoryList">
    <ul>
        <li><a href="{{ '/categories/' | relative_url }}">Categories</a> : </li>
        {% for category in site.categories %}
            {% capture category_name %}{{ category | first }}{% endcapture %}
            {% assign category_slug = category_name | slugize %}
            <li><a href="{{ '/categories/#' | append: category_slug | relative_url }}">{{ category_name }}</a></li>
        {% endfor %}
    </ul>
</div>
<hr class="category-separator">
<ul class="blog-list">
    {% for post in paginator.posts %}
    <li>
        <a class="blog-heading" href="{{ post.url | relative_url }}">{{ post.title }}</a><span class="date">{{ post.date
            | date_to_string }}</span>
        <div class="excerpt">{{ post.excerpt }}</div>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% if paginator.total_pages > 1 %}
<nav class="pagination" role="navigation">
    <div class="pagination-left">
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Previous</a>
        {% endif %}
    </div>
    <div class="pagination-right">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Next</a>
        {% endif %}
    </div>
</nav>
{% endif %}