<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="dns-prefetch" href="https://{{ site.disqus.shortname }}.disqus.com">
  <meta itemprop="description" name="description"
    content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
  <title>{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="preload" href="{{ '/assets/css/styles.css' | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
  </noscript>
  <link rel="stylesheet" href="{{ '/assets/css/language.css' | relative_url }}">
  <link rel="dns-prefetch" href="www.googletagmanager.com">
  <link rel="dns-prefetch" href="www.google-analytics.com">
  <script defer src="{{ '/assets/js/toggleTheme.js' | relative_url }}"></script>
  <script defer src="{{ '/assets/js/toggleLanguage.js' | relative_url }}"></script>
  {% include analytics.html %}
</head>
<body{% if page.pagetype=='blog' %} class="blog" {% endif %}>
  {% include language-toggle.html %}
  {% include theme-toggle.html %}
  {{ content }}
  </body>

</html>